{% load staticfiles %}
<head>
	<link rel="stylesheet" type="text/css" href="{% static "css/logstyle.css" %}">
	<link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
	<script src = "https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

	<script type="text/javascript">
		$(function() {
			$('#show').click(function(1000) {
				$('#reg').hide().fadeIn();
			});
		});
	</script>

</head>




<div>
	<h1>Post</h1>
</div>

<div>
	<h3>a blogging app</h3>
	<h3>just text at the moment</h3>
</div>
{% block error %}
{% endblock %}

{% block forms %}
	<div id = "center">
		<div id = "log">
			<form action = "{% url 'login:lattempt' %}" method="POST" id = "lattempt">
				{% csrf_token %}
				{{ log }}
				<input type = "submit" value = "login">		
			</form>
			<div id = "show">
				<p>register new user</p>
			</div>	
		</div>
		<div id = "reg">	
			<form action = "{% url 'login:rattempt' %}" method="POST" id = "rattempt">
				{% csrf_token %}
				{{ reg }}
				<input type="submit" value="register" id = "sub">
			</form>
		</div>
	</div>	
{% endblock %}