<h1>Welcome!</h1>

{% block error %}
{% endblock %}

{% if user_list %}
    <ul>
    {% for user in user_list %}
	<li>
		<form action = "{% url 'login:go' user.id %}" method="GET">
			<input type="submit"/> {{user}}
		</form>
	</li>
    {% endfor %}
    </ul>
{% endif %}

{% block forms %}
	{% if log %}
		{% if badlog %}
			{{ badlog }}
		{% endif %}
		<form action = "{% url 'login:attempt' %}" method="GET">
			{{ log }}
			<input type = "submit" value = "login">		
		</form>

	{% endif %}
	<br>
	<br>
	<br>
	{% if reg %}
		{% if badreg %}
			{{ badreg }}
		{% endif %}
		<form action = "{% url 'login:attempt' %}" method="POST">
			{% csrf_token %}
			{{ reg }}
			<input type="submit" value="register">
		</form>
	{% endif %}
{% endblock %}