body {
	text-align: center;
	background-color: rgb(241, 246, 246);
	color: rgb(175, 147, 120);
}
h1 {
	font-family: Raleway;
	font-size: 2em;
}
h3 {
	font-size: 1em;
	font-family: Raleway;
}
p {
	font-size: 1.1em;
	font-family: Raleway;
}
form {
	font-size: 1.1em;
	padding: 7%;
	font-family: Raleway;
	margin: 0 auto;
	width: 15%;
	background-color: rgb(245, 245, 190);
}
input {
	display: block;
	margin-bottom: 2%;
	margin:	0 auto;
	margin-top: 3%;
	width: 100%;
}
span {
	display: none;
}
#reg {
	border-radius: 5px
}
#log {
	border-radius: 5px;
}
#lattempt {
	border-radius: 4px;
}
#rattempt {
	border-radius: 4px;
}
#center {
	width 500px;
	clear: both;
}
#center input {
	clear: both;
}
#sub {
	border-radius: 4px;
    background-color: rgb(204, 178, 153);
    box-shadow: none;
    font-family: Lato;
    border: none;
}
#show {
	cursor: pointer;
}
#show:hover {

}
#show2 {
	cursor: pointer;
}
#show2:hover {

}
#login {
	font-family: Raleway;
	border:none;
	color:rgb(175, 147, 120);
	background-color: rgb(241, 246, 246);
}