body {
	text-align: center;
	background-color: rgb(241, 246, 246);
	color: rgb(175, 147, 120);
}
h1 {
	font-family: Lato;
	font-size: 2em;
}
h3 {
	font-size: 1em;
	font-family: Lato;
}
p {
	font-size: 1.1em;
	font-family: Lato;
}
form {
	font-size: 1.1em;
	font-family: Lato;
}
input {
	display: block;
	margin-bottom: 2%;
}
span {
	display: none;
}
#reg {
	background-color: rgb(245, 245, 190);
	border-radius: 5px
}
#log {
	background-color: rgb(245, 245, 190);
	border-radius: 5px;
}
#lattempt {
	border-radius: 4px;
}
#rattempt {
	border-radius: 4px;
}
#center {
	width 500px;
	clear: both;
}
#center input {
	clear: both;
}
#sub {
	border-radius: 4px;
    background-color: rgb(204, 178, 153);
    box-shadow: none;
    font-family: Lato;
    border: none;
}
#show {
	cursor: pointer;
}
#show:hover {

}