* {
	margin: 0;
	padding: 0;
}

body {
	font-family: Lato;
}

#act {
	color: rgb(25, 117, 117);
	font-size: 40px;
}
form div {
	display: block;
	padding: 10px;
}

#subfield {
	height: 10%;
	width: 50%;
}
#textfield {
	height: 60%;
	width: 50%;
}
#postfield {
}