* {
	margin: 0;
	padding: 0;
}

h1 {
	text-align: center;
	font-size: 2em;
}

body {
	font-family: Lato;
	background-color: rgb(245, 245, 190);
	text-align: center;
}
body div {
	padding: 5px;
}

#act {
	color: rgb(25, 117, 117);
	font-size: 40px;
}
form div {
	display: block;
	padding: 10px;
}

#subfield {
	height: 10%;
	width: 70%;
	border: none;
	background-color: rgb(241, 246, 246);
	font-size: 2em;
}
#textfield {
	border: none;
	height: 60%;
	width: 70%;
	font-size: 1.1em;
	background-color: rgb(241, 246, 246);
	font-family: Lato;
}
#postfield {
	background-color: rgb(222, 205, 189);
	border: none;
	color: rgb(25, 117, 117);
	border-radius: 4px;	
	padding: 10px;
}
.font {
	color: rgb(25, 117, 117);
}

input {
	background-color: rgb(222, 205, 189);
	border-radius: 4px;
	border: none;
	cursor: pointer;
	margin: 7px;
	padding: 4px;
}
#center {
	width 500px;
	clear: both;
}
#center input {
	clear: both;
}
textarea {
	resize: none;
}