{% load staticfiles %}
<head>
	<link rel="stylesheet" type="text/css" href="newedditstyle.css">

	<link rel="stylesheet" type="text/css" href="{% static "css/neweditstyle.css" %}">
	<link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
<!-- 	<link rel="stylesheet" type="text/css" href="neweditstyle.css">-->
</head>
<body>
{% if post %}
	<div id = "act">
		<h1>Edit the post</h1>
	</div>
	<form action ="{% url 'post:editsubmit' post.id %}" method="POST">
		{% csrf_token %}
		<div id = "text">
			<textarea type="text" value="{{post.text}}" name="body" id = "textfield">{{ post.text }}</textarea>
		</div>
		
		<div id = "post">
			<input type="submit" value="edit" id = "postfield">
		</div>
	</form>
{% else %}
	<p>some type of error, man</p>
{% endif %}
</body>