{% load staticfiles %}
<head>
	<link rel="stylesheet" type="text/css" href="newedditstyle.css">

	<link rel="stylesheet" type="text/css" href="{% static "css/neweditstyle.css" %}">
	<link href="http://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
	<!--<link rel="stylesheet" type="text/css" href="neweditstyle.css">-->
</head>
<body>
	<div id = "act">
		<h1>New Post</h1>
	</div>
	
	<form action="{% url 'post:submit' user.username %}" method="POST">
	{% csrf_token %}
		<div id = "center">
			<div id = "sub">
				<input type="text" name="subject" id = "subfield" placeholder = "Subject">
			</div>
			
			<div id = "text">
				<textarea type="textarea" name="body" id = "textfield" placeholder = "Thoughts..."></textarea>
			</div>
			
			<div id = "post">
				<input type="submit" value = "Post" id = "postfield" class = "font">	
			</div>
		</div>
	</form>	
</body>